body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0px;
  padding: 0px;
}

h1 {
  margin: 0px;
}

main {
  width: 70%;
  padding: 40px;
  box-sizing: border-box;
  float: right;
  transition: width 1s;
}

form {
  width: 70%;
  margin: auto;
}

form div {
  margin: 20px 0px;
}

form input[type="text"],
form input[type="email"],
form input[type="datetime-local"] {
  width: 100%;
  padding: 10px;
}

form button {
  background-color: rgb(9, 163, 198);
  border: none;
  color: white;
  padding: 10px 20px;
}

form button:hover {
  cursor: pointer;
  background-color: rgb(5, 98, 119);
  transition: background-color 0.4s;
}

nav {
  background-color: rgb(9, 163, 198);
  width: 30%;
  height: 100%;
  padding: 20px 0px;
  text-align: center;
  box-sizing: border-box;
  color: white;
  position: fixed;
  float: left;
  box-shadow: 5px 0px 10px gray;
  overflow: hidden;
  transition: width 1s;
}

nav ul {
  margin: 0px;
  padding: 0px;
}

nav a {
  text-decoration: none;
  color: white;
}

nav li {
  padding: 10px;
}

nav li:hover {
  background-color: rgb(5, 98, 119);
  transition: background-color 0.4s;
}

.centro {
  text-align: center;
}

.btn-menu-abrir {
  width: 20px;
  opacity: 0;
}

.btn-menu-fechar {
  width: 20px;
  opacity: 0;
}

.btn-menu:hover {
  cursor: pointer;
}

.menu-aberto {
  width: 50%;
}

.mensagens {
  display: none;
  background-color: red;
  color: white;
  padding: 20px;
  position: absolute;
  width: 60%;
  opacity: 0.8;
  animation: slide-mensagem 3s;
}

.mensagens img {
  cursor: pointer;
  width: 15px;
  float: right;
}

.exibir {
  display: block;
}

.exibir-sucesso {
  display: block;
  background-color: green;
}

@media (max-width: 600px) {
  nav {
    width: 0%;
  }

  main {
    width: 100%;
  }

  .btn-menu-abrir {
    opacity: 1;
  }

  .btn-menu-fechar {
    opacity: 1;
  }
}

@keyframes slide-mensagem {
  from {
    opacity: 0;
    transform: translate3d(0px, 50px, 0px);
  }
  to {
    opacity: 0.8;
    transform: translate3d(30px, 0px, 0px);
  }
}
